.friend {
    text-align: center;
    display: block;
    padding: 2%;
}

.friend img {
    width: 50%;
    height: 70%;
    border-radius: 30px;
}

.friend span {
    font-weight: 500;
}

.friend span:hover {
    text-decoration: underline;
}