.formControl {
    height: 60px;
    margin-bottom: 2%;
}

.formField {
    margin-top: 2%;
    margin-bottom: 2%;
}

.header {
    padding-bottom: 2%;
}

.hide {
    display: none;
}

.passWrapper {
    margin-bottom: 5%;
}

.checkboxWrapper {
    margin-left: 1.3%;
    padding-top: 0.5%;
}

.checkboxText {
    margin-left: 3%;
}

.loginBtn {
    margin-left: 1.3%;
}

.postsBtn {
    margin-top: -4%;
    float: right;
    margin-right: 2%;
}

.formControl.error input,
.formControl.error textarea {
    border-bottom: solid red 1px;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border-bottom: solid red 1px;
    padding: 5px;
    width: 30%;
    color: darkred;
}

.checkBoxContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.checkBoxContainer span {
    padding-top: 1px;
}

.loginForm {
    width: 60%;
}

.profileForm {
    padding: 2%;
}

.contactsWrapper {
    display: flex;
    flex-direction: row;
}

.contactsCol {
    padding-right: 4%;
}