.friendBar {
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.friendBar button {
    margin-bottom: 5%;
    box-sizing: border-box;
    max-width: 70%;
    font-size: 0.7vw;
}

.friends {
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(4, 0.2fr);
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    font-size: 0.7vw;
}

.hideButton {
    display: none;
}

.title {
    font-size: 2.4vw;
    font-weight: 400;
}