.header {
    grid-area: h;
    background-color: green;
}
.header img {
    width: 2%;
    height: 60%;
    padding: 10px;
}

.loginBlock {
    float: right;
    padding: 10px;
}

.loginBlock a {
    color: white;
}